body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #222;
    color: #fff;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h2 {
    margin-top: 30px;
    font-size: 24px;
    text-transform: uppercase;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #444;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #555;
}

th {
    background-color: #333;
    color: #fff;
}

.not-available {
    color: red;
}

.card-header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-size: 18px;
}

.card {
    background-color: #444;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.list-group-item {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px;
}

.image-container {
    text-align: center;
    margin-top: 50px;
}

.image-container img {
    max-width: 100%;
}

.button-bar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-bar button {
    margin-right: 10px;
}